# 1. In the below elements which of them are values or an expression? 
#eg:- values can be integer or string and expressions will be mathematical operators.

#    * 
#    'hello'
#    -87.8
#    - 
#    / 
#    +

In [16]:
print("*       is  expression(Multiplication) \n'hello' is  value(String)\n-87.8   is  value(Float)\n-       is  expression(subtraction)\n/       is  expression(Division)\n+       is  expression(Addition)\n6       is  value(Integer)")

*       is  expression(Multiplication)
'hello' is  value(String)
-87.8   is  value(Float)
-       is  expression(subtraction)
/       is  expression(Division)
+       is  expression(Addition)
6       is  value(Integer)

# 2. What is the difference between string and variable?

In [11]:
print("Variable: \nvariable stores the data or location of data(call by reference) of various data types like Integer,Float,String,Boolean etc. \nString: \nString is data type of an variable which is mentioned inside ''(single quotes) or ""(double quotes).")

Variable:
variable stores the data or location of data(call by reference) of various data types like Integer,Float,String,Boolean etc.
String:
String is data type of an variable which is mentioned inside ''(single quotes) or (double quotes).

# 3. Describe three different data types.

In [15]:
print("""1)Integer(INT): Integer is a data type of a variable which stores a whole number. It can be positive, negative or zero but \n cannot be a fraction.
EXAMPLE:  2, 34, 147.
2)Float: Float is a data type of a variable which stores a decimal number.
EXAMPLE: 32.6, 66.345, 22.0.
3)String: String is a data type of a variable which stores characters. It is specified by placing the characters in between\n single quotes('') or double quotes("").
EXAMPLE: 'Hello World', "Welcome".""")

1)Integer(INT): Integer is a data type of a variable which stores a whole number. It can be positive, negative or zero but
 cannot be a fraction.
EXAMPLE:  2, 34, 147.
2)Float: Float is a data type of a variable which stores a decimal number.
EXAMPLE: 32.6, 66.345, 22.0.
3)String: String is a data type of a variable which stores characters. It is specified by placing the characters in between
 single quotes('') or double quotes("").
EXAMPLE: 'Hello World', "Welcome".

# 4. What is an expression made up of? What do all expressions do?

An expression is simillar to a mathematical equation which consists of variables and operators.Variables hold the data of various data types and operators tells the operation that has to be done on variable.

All expressions do the given operation on the variable based on data type and gives the output. 
    In case of Integer or Float data type it does mathematical operations.
    In case of String it does concatenation.

It also depends on given variable data types and operators.
For Example: division operatoe(/) doesn't work on string.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Assignment statement is used for declaring a variable and assigning a certain data to it, The data is stored at a location and the variable stores the pointer to that location. When called upon gives output data.

Differences:
    
    Assignment Statement is used for assigning the data to the variables. 
    
    Where as, Expression uses the data from variables and operates on them to calculate the output.

# 6. After running the following code, what does the variable bacon contain?

# bacon = 22
# bacon + 1

The variable bacon contains the value 22. Even after executing bacon + 1 the result will be 23 but the value of the bacon doesn’t change as it is not assigned.

The execution is given below.

In [17]:
bacon = 22
bacon + 1

23

In [18]:
bacon

22

# 7. What should the values of the following two terms be?
# 'spam' + 'spamspam'
# 'spam' * 3

The following expressions follow concatenation

'spam' + 'spamspam' – ‘spamspamspam’

'spam' * 3 – ‘spamspamspam’

The execution is given below.

In [19]:
'spam' + 'spamspam'

'spamspamspam'

In [20]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

While naming a variable following rules are to be followed:
    
    A variable name can contain only Alpha-Numeric(A-Z,a-z,0-9) characters and underscore(_).
    
    But a variable name cannot be started with Numeric characters. It can be started by alphabet or underscore(_).
    
Therefore, eggs is a valid variable name as it starts with Alphabet.

Whereas, 100 starts with a numeric. Therefore, 100 is Invalid.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

1) To convert a value to Integer value use function int().

2) To convert a value to floating-point number use function float().

3) To convert a value to string use function str().

This process is known as type casting, But the values have to be suited to their respective data types or else it will show error.

Execution below

## int()

In [27]:
a = 23.57
print(a)
type(a)

23.57

float

In [28]:
b='23'
print(b)
type(b)

23

str

In [32]:
print(int(a))
type(int(a))

23

int

In [33]:
print(int(b))
type(int(b))

23

int

## float()

In [34]:
c = 23
print(c)
type(c)

23

int

In [35]:
d='23'
print(d)
type(d)

23

str

In [36]:
print(float(c))
type(float(c))

23.0

float

In [37]:
print(float(d))
type(float(d))

23.0

float

## str()

In [38]:
e = 23
print(e)
type(e)

23

int

In [39]:
f = 23.57
print(f)
type(f)

23.57

float

In [40]:
print(str(e))
type(str(e))

23

str

In [41]:
print(str(f))
type(str(f))

23.57

str

## Example for error.

In [42]:
g='jgk'
int(g)

ValueError: invalid literal for int() with base 10: 'jgk'

# 10. Why does this expression cause an error? How can you fix it?
# 'I have eaten ' + 99 + ' burritos.'

This expression causes error as addition cannot occur between string data type and integer data type. Only string can be added to another string. This string adddition is called concatenation.

To make the expression work 99 has to be changed to string as following:
    
    'I have eaten ' + '99' + ' burritos.'
    
                    (or)
                 
     'I have eaten ' + str(99) + ' burritos.'
     
Execution Below.

In [43]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [44]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [45]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'